details.details {
  padding: 0;
	overflow: hidden;

	background-color: var(--gray-25);
	border: 1px solid var(--gray-100);
	border-radius: 4px;

	user-select: none;
}

details.details[open] summary svg {
  transform: rotate(180deg);
}

details.details summary::-webkit-details-marker {
  display: none;
}

details.details summary {
  align-items: center;
  display: flex;
  padding: 8px 12px;

  color: var(--gray-700);

  font-family: inherit;
  font-size: var(--font-size-small);
}

details.details summary + * {
  border-top: 1px solid var(--gray-50);
}

details.details summary::-webkit-details-marker,
details.details summary::marker {
  color: var(--gray-500);
}

details.details summary {
  cursor: pointer;
}

details.details summary > * {
  display: inline;
}