details.details {
	padding: 0;

	background-color: var(--gray-25);
	border: 1px solid gray;
	/* var(--gray-100); */
	border-radius: 4px;

	/* user-select: none; */
}

details.details summary:focus {
	/* border: 3px solid red; */
	box-shadow: 0 0 0 2px red;
}

details.details summary + * {
	padding: 24px;
}

details.details summary svg {
	transition: transform 200ms linear;
}

details.details[open] summary svg {
	transform: rotate(180deg);
}

details.details summary::-webkit-details-marker {
	display: none;
}

details.details summary {
	align-items: center;
	display: flex;
	padding: 8px 12px;

	font-family: inherit;
}

details.details summary + * {
	border-top: 1px solid green;
}

details.details summary::-webkit-details-marker,
details.details summary::marker {
	color: red;
}

details.details summary {
	cursor: pointer;
}

details.details summary > * {
	display: inline;
}
