.navigationLeft {
  position: absolute;
	top: 0;
	left: 0;
}

/* Button */
.navigationLeft__button {
  position: fixed;
  z-index: 4;

  height: 56px;
  width: 56px;

  opacity: 0;
  visibility: hidden;
}

@media (max-width: 672px) {
  .navigationLeft__button {
    opacity: 1;
    visibility: visible;
  }
}

/* Nav panel */
.navigationLeft__nav {
  position: fixed;
  z-index: 2;

  margin-top: 56px;

  height: calc(100vh - 56px);
  padding: 8px;
  overflow: auto;
  opacity: 1;
  max-width: 100%;
  width: 260px;

  background-color: var(--hui-bg-0);
  box-shadow: 1px 0 0 0 var(--hui-line-1);
  transition: all 60ms ease-in-out;
  transform: translateX(0);
  will-change: opacity;
  will-change: transform;
}

@media (max-width: 672px) {
  .navigationLeftActive .navigationLeft__nav {
    box-shadow: 1px 0 8px 0 var(--gray-100), 1px 0 0 0 var(--gray-100);
  }

  .navigationLeftInactive .navigationLeft__nav {
    padding: 8px 0;
    opacity: 0;
    width: 0;

    box-shadow: 0 0 0 0 var(--gray-50);
    transform: translateX(-16px);
  }
}