.input {
  width: 100%;
}

.input label {
  font-family: var(--font-family-sans);
}

.input input.input__input {
  padding: 8px 10px;
  height: 42px;
  width: 100%;

  background-clip: padding-box;
  background-color: transparent;
  background-color: var(--fui-color-0);
  border: 1px solid var(--fui-color-100);
  color: var(--fui-color-700);
  border-radius: 4px;
  outline: none;
  transition: all 120ms ease-in-out;

  font-family: var(--font-family-mono);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.input input.input__input:active:not(:disabled),
.input input.input__input:focus:not(:disabled) {
  box-shadow: 0 0 0 3px hsla(var(--hsl-blue-300), 0.2);
  border-color: var(--blue-200);
  color: var(--blue-700);
}

.input input.input__input::placeholder {
  color: var(--fui-color-300);
  opacity: 1;
}

.input input.input__input:disabled {
  background-color: var(--gray-25);
  pointer-events: none;
}

.input__input__loading {
  position: absolute;
  top: 34px;
  right: 12px;
}