.horizontalSeparator {
  border: 0;
  width: 100%;
}

.horizontalSeparatorLight {
  border: 0;
	border-bottom: 1px solid var(--hui-line-1);
}

.horizontalSeparatorRegular {
  border: 0;
	border-bottom: 1px solid var(--hui-line-1);
}