{
	"extends": ["prettier"],
	"plugins": ["prettier", "@typescript-eslint"],
	"rules": {
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		]
	},
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"requireConfigFile": false,
		"sourceType": "module",
		"ecmaVersion": 2017
	}
}
