@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://rsms.me/inter/inter.css');

:root {
	--box-px: 1px;
	--box-1: 2px;
	--box-2: 4px;
	--box-3: 6px;
	--box-4: 8px;
	--box-5: 10px;
	--box-6: 12px;
	--box-7: 14px;
	--box-8: 16px;
	--box-9: 18px;
	--box-10: 20px;
	--box-11: 22px;
	--box-12: 24px;
	--box-13: 26px;
	--box-14: 28px;
	--box-15: 30px;
	--box-16: 32px;
	--box-24: 48px;
	--box-32: 64px;
	--box-40: 80px;
	--box-48: 96px;

	--font-size-h0: 48px;
	--font-size-h1: 36px;
	--font-size-h2: 32px;
	--font-size-h3: 28px;
	--font-size-h4: 24px;
	--font-size-h5: 20px;
	--font-size-h6: 18px;
	--font-size-p: 16px;
	--font-size-small: 14px;
	--font-size-tiny: 12px;

	--line-height-h1: 44px;
	--line-height-h2: 40px;
	--line-height-h3: 36px;
	--line-height-h4: 32px;
	--line-height-h5: 26px;
	--line-height-h6: 24px;
	--line-height-p: 24px;
	--line-height-small: 22px;
	--line-height-tiny: 18px;

	--font-family-sans: "Inter", -apple-system, "Helvetica Neue", Arial, sans-serif;
  --font-family-mono: "JetBrains Mono", courier, monospace;
  --font-family-serif: "Frank Ruhl Libre", Georgia;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  font-family: "Inter", -apple-system, "Helvetica Neue", Arial, sans-serif !important;
}

@supports (font-variation-settings: normal) {
  :root { font-family: "Inter var", -apple-system, "Helvetica Neue", Arial, sans-serif }
}

*::selection {
  background-color: var(--yellow-100);
}

* {
  outline: none;
}

a {
  color: var(--fui-color-800);

  transition: all 80ms ease-in-out;
}

body {
  --fui-color-0: var(--gray-0);
  --fui-color-25: var(--gray-25);
  --fui-color-50: var(--gray-50);
  --fui-color-100: var(--gray-100);
  --fui-color-200: var(--gray-200);
  --fui-color-300: var(--gray-300);
  --fui-color-400: var(--gray-400);
  --fui-color-500: var(--gray-500);
  --fui-color-600: var(--gray-600);
  --fui-color-700: var(--gray-700);
  --fui-color-800: var(--gray-800);
  --fui-color-900: var(--gray-900);
  --fui-color-1000: var(--gray-1000);

  width: 100%;

  background-color: var(--hui-bg-0);
  color: var(--hui-fg-0);
  transition: background-color 120ms var(--easeInOutBack);
}

.debug * {
  box-shadow: inset 0 0 0 1px rgba(255, 20, 20, 0.5);
}

.debug *[data-component] {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 255, 0.5);
}

.debug *[data-component]:after {
  position: absolute;

  padding: 4px;

  background-color: rgba(0, 0, 255, 0.5);
  color: var(--gray-0);

  font-family: var(--font-family-mono);
  font-size: 8px;
  content: attr(data-component);
}

/* Helpers: Glass */
.glass-1 {
	background-color: rgba(255, 255, 255, 0.88);
	backdrop-filter: blur(3px);
}

/* Helpers: Shadow */
.shadow-1 {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.024),
    0 1px 1px 0 rgba(0, 0, 0, 0.06),
    0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.shadow-2 {
  box-shadow:
  0 0 0 1px rgba(0, 0, 0, 0.024),
    0 1px 1px 0 rgba(0, 0, 0, 0.06),
    0 0 4px 0 rgba(0, 0, 0, 0.08),
    0 0 0 1px rgba(0, 0, 0, 0.04),
    0 0 10px 0 rgba(0, 0, 0, 0.08);
}

/* Helpers: Container */
.sora-container {
  margin: 0 auto 24px auto;
	padding: 32px;
	max-width: 100%;

	width: 960px;

	border-radius: 8px;
}

@media (max-width: 960px) {
  .sora-container {
    margin: 0;
    padding: 24px 12px 48px 12px;

    border-radius: 0;
  }
}

.helios-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.helios-scrollbar::-webkit-scrollbar-thumb {
  height: 4px;
  width: 4px;

  background-color: var(--gray-100);
  transition: all 80ms ease-in-out;
}

.helios-scrollbar::-webkit-scrollbar-track {
  background-color: var(--gray-25);
}

.helios-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-200);
}

.helios-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: var(--gray-300);
}

/* Default config */
body {
  /* Backgrounds */
  --hui-bg-0: var(--gray-0);
  --hui-bg-1: var(--gray-25);
  --hui-bg-2: var(--gray-50);

  /* Foregrounds */
  --hui-fg-0: var(--gray-900);

  /* Lines */
  --hui-line-0: var(--gray-25);
  --hui-line-1: var(--gray-50);
  --hui-line-2: var(--gray-100);
}

/* Dark */
body.dark {
  /* --hui-bg-0: var(--gray-1000);
  --hui-bg-1: var(--gray-900);
  --hui-bg-2: var(--gray-800);
  --hui-fg-0: var(--gray-100);
  --hui-line-0: var(--gray-1000);
  --hui-line-1: var(--gray-900);
  --hui-line-2: var(--gray-800); */
}

@media (prefers-color-scheme: dark) {
  /* Light */
  body.light {
    /* --hui-bg-0: var(--gray-0);
    --hui-bg-1: var(--gray-25);
    --hui-bg-2: var(--gray-50);
    --hui-fg-0: var(--gray-900);
    --hui-line-0: var(--gray-25);
    --hui-line-1: var(--gray-50);
    --hui-line-2: var(--gray-100); */
  }

  /* Dark */
  body {
    /* --hui-bg-0: var(--gray-1000);
    --hui-bg-1: var(--gray-900);
    --hui-bg-2: var(--gray-800);
    --hui-fg-0: var(--gray-100);
    --hui-line-0: var(--gray-1000);
    --hui-line-1: var(--gray-900);
    --hui-line-2: var(--gray-800); */
  }
}

/* @media (prefers-color-scheme: dark) {
  body.dark .glass-1 {
    background-color: rgba(0, 0, 0, 0.88);
  }
} */