.square {
	height: 40px;
	min-width: 132px;

	background-color: currentcolor;
}

.square:first-child {
	border-top-left-radius: var(--radius-large);
}

.square:last-child {
	border-bottom-right-radius: var(--radius-large);
}

.square small {
	padding: 8px;

	color: var(--text-color);
}
