.button {
	transition: all 60ms ease-in-out;

	--button-intent-confirmation--bg: red;
	/* hsla(var(--intent-color-confirmation), 0.5); */
	--button-intent-confirmation--text: hsla(var(--intent-color-confirmation), 1);

	--button-intent-error--bg: hsla(var(--intent-color-error), 0.25);
	--button-intent-error--text: hsla(var(--intent-color-error), 1);

	--button-intent-highlight--bg: hsla(var(--intent-color-highlight), 0.25);
	--button-intent-highlight--text: hsla(var(--intent-color-highlight), 1);

	--button-intent-advise--bg: hsla(var(--intent-color-advise), 0.25);
	--button-intent-advise--text: hsla(var(--intent-color-advise), 1);

	--button-intent-question--bg: hsla(var(--intent-color-question), 0.25);
	--button-intent-question--text: hsla(var(--intent-color-question), 1);

	--button-intent-success--bg: hsla(var(--intent-color-success), 0.25);
	--button-intent-success--text: hsla(var(--intent-color-success), 1);

	--button-intent-warning--bg: hsla(var(--intent-color-warning), 0.25);
	--button-intent-warning--text: hsla(var(--intent-color-warning), 1);

	-webkit-tap-highlight-color: transparent;
}

.buttonActive,
.button:hover,
.button:active,
.button:focus {
	z-index: 1;
}

/* intent: advise */
.buttonAdvise {
	background-color: var(--button-intent-advise--bg);
	color: var(--button-intent-advise--text);
}

/* intent: confirmation */
.buttonConfirmation {
	background-color: var(--button-intent-confirmation--bg);
	color: var(--button-intent-confirmation--text);
}

/* intent: error */
.buttonError {
	background-color: var(--button-intent-error--bg);
	color: var(--button-intent-error--text);
}

/* intent: highlight */
.buttonHighlight {
	background-color: var(--button-intent-highlight--bg);
	color: var(--button-intent-highlight--text);
}

/* intent: question */
.buttonQuestion {
	background-color: var(--button-intent-question--bg);
	color: var(--button-intent-question--text);
}

/* intent: success */
.buttonSuccess {
	background-color: var(--button-intent-success--bg);
	color: var(--button-intent-success--text);
}

/* intent: warning */
.buttonWarning {
	background-color: var(--button-intent-warning--bg);
	color: var(--button-intent-warning--text);
}

/* Reset */
.button input {
	border: 0;
	background-color: transparent;
	color: inherit;
	outline: none;

	cursor: inherit;
}

/* Sizes */
.buttonSizeNormal,
.buttonSizeNormal input {
	height: 40px;
	min-width: 40px;
}

.buttonSizeSmall,
.buttonSizeSmall input {
	height: 30px;
	min-width: 30px;
}

.buttonSizeTiny,
.buttonSizeTiny input {
	height: 24px;
	min-width: 24px;
}

.button {
	/* background: var(--fui-btn-500)
		linear-gradient(var(--fui-btn-500) -50%, var(--fui-btn-600) 250%);

	box-shadow: inset 0 0 0 1px var(--fui-btn-600);
	color: var(--fui-btn-bg); */
}

.button:hover {
	background: var(--fui-btn-600)
		linear-gradient(var(--fui-btn-600) -50%, var(--fui-btn-700) 250%);
	box-shadow: inset 0 0 0 1px var(--fui-btn-700);
	color: var(--fui-btn-bg);
}

.button.buttonActive,
.button:active {
	background: var(--fui-btn-700)
		linear-gradient(var(--fui-btn-700) -50%, var(--fui-btn-700) 250%);
	box-shadow: inset 0 0 0 1px var(--fui-btn-700);
}

.button input {
	text-shadow: 0 1px 0 var(--fui-btn-600);
}
.button.buttonActive input,
.button:active input,
.button:hover input {
	text-shadow: 0 1px 0 var(--fui-btn-700);
}

.button input:focus-visible {
	outline: 3px solid var(--fui-btn-100);
}

/* Disabled */
.buttonDisabled {
	pointer-events: none;

	background: var(--fui-btn-100);
	box-shadow: inset 0 0 0 1px var(--fui-btn-100);
	color: var(--fui-btn-300);
}

.buttonDisabled input {
	text-shadow: 0 0 0 transparent;
}

/* Loading */
.buttonLoading {
	pointer-events: none;
}

.buttonSizeNormal.buttonLoading input {
	padding-right: 40px;
}

.buttonSizeSmall.buttonLoading input {
	padding-right: 26px;
}

.buttonSizeTiny.buttonLoading input {
	padding-right: 24px;
}

.button__loading {
	position: absolute;
}

.buttonSizeNormal:not(.buttonIconOnlyLoading) .button__loading {
	right: 10px;
}

.buttonSizeSmall:not(.buttonIconOnlyLoading) .button__loading {
	right: 6px;
}

.buttonSizeTiny:not(.buttonIconOnlyLoading) .button__loading {
	right: 6px;
}

/* Flair */
.button__flair {
	position: absolute;
	top: -2px;
	right: -2px;
}

/* Icon */
.buttonSizeNormal:not(.buttonIconOnly) .button__icon {
	margin-right: -12px;
}

.buttonSizeNormal .button__icon {
	padding-left: 9px;
	padding-right: 9px;
}

.buttonSizeSmall:not(.buttonIconOnly) .button__icon {
	margin-right: -11px;
	margin-top: -1px;
}

.buttonSizeSmall .button__icon {
	padding-left: 6px;
	padding-right: 6px;
}

.buttonSizeTiny:not(.buttonIconOnly) .button__icon {
	margin-right: -6px;
}

.buttonSizeTiny .button__icon {
	padding-left: 5px;
	padding-right: 5px;
}

/* Icon:focus */
.buttonSizeNormal.buttonIconOnly input {
	margin-left: -42px;
	width: 42px;
}

.buttonSizeSmall.buttonIconOnly input {
	margin-left: -30px;
	width: 30px;
}

.buttonSizeTiny.buttonIconOnly input {
	margin-left: -24px;
	width: 24px;
}

.buttonSizeNormal.buttonWithIcon:not(.buttonIconOnly) input {
	margin-left: -30px;
	padding-left: 40px;
}

.buttonSizeSmall.buttonWithIcon:not(.buttonIconOnly) input {
	margin-left: -19px;
	padding-left: 28px;
}

.buttonSizeTiny.buttonWithIcon:not(.buttonIconOnly) input {
	margin-left: -18px;
	padding-left: 24px;
}
