.button {
  transition: all 60ms ease-in-out;

  -webkit-tap-highlight-color: transparent;

  /* Base */
  --fui-btn-bg: var(--hui-bg-0);

  /* Dynamic colors */
  --fui-btn-100: var(--blue-100);
  --fui-btn-200: var(--blue-200);
  --fui-btn-300: var(--blue-300);
  --fui-btn-500: var(--blue-500);
  --fui-btn-600: var(--blue-600);
  --fui-btn-700: var(--blue-700);
}

.buttonActive,
.button:hover,
.button:active,
.button:focus {
  z-index: 1;
}

.buttonColorAqua {
  --fui-btn-100: var(--aqua-100);
  --fui-btn-200: var(--aqua-200);
  --fui-btn-300: var(--aqua-300);
  --fui-btn-500: var(--aqua-500);
  --fui-btn-600: var(--aqua-600);
  --fui-btn-700: var(--aqua-700);
}

.buttonColorBlue {
  --fui-btn-100: var(--blue-100);
  --fui-btn-200: var(--blue-200);
  --fui-btn-300: var(--blue-300);
  --fui-btn-500: var(--blue-500);
  --fui-btn-600: var(--blue-600);
  --fui-btn-700: var(--blue-700);
}

.buttonColorGray {
  --fui-btn-100: var(--gray-100);
  --fui-btn-200: var(--gray-200);
  --fui-btn-300: var(--gray-300);
  --fui-btn-500: var(--gray-500);
  --fui-btn-600: var(--gray-600);
  --fui-btn-700: var(--gray-700);
}

.buttonColorGreen {
  --fui-btn-100: var(--green-100);
  --fui-btn-200: var(--green-200);
  --fui-btn-300: var(--green-300);
  --fui-btn-500: var(--green-500);
  --fui-btn-600: var(--green-600);
  --fui-btn-700: var(--green-700);
}

.buttonColorOrange {
  --fui-btn-100: var(--orange-100);
  --fui-btn-200: var(--orange-200);
  --fui-btn-300: var(--orange-300);
  --fui-btn-500: var(--orange-500);
  --fui-btn-600: var(--orange-600);
  --fui-btn-700: var(--orange-700);
}

.buttonColorPink {
  --fui-btn-100: var(--pink-100);
  --fui-btn-200: var(--pink-200);
  --fui-btn-300: var(--pink-300);
  --fui-btn-500: var(--pink-500);
  --fui-btn-600: var(--pink-600);
  --fui-btn-700: var(--pink-700);
}

.buttonColorPurple {
  --fui-btn-100: var(--purple-100);
  --fui-btn-200: var(--purple-200);
  --fui-btn-300: var(--purple-300);
  --fui-btn-500: var(--purple-500);
  --fui-btn-600: var(--purple-600);
  --fui-btn-700: var(--purple-700);
}

.buttonColorRed {
  --fui-btn-100: var(--red-100);
  --fui-btn-200: var(--red-200);
  --fui-btn-300: var(--red-300);
  --fui-btn-500: var(--red-500);
  --fui-btn-600: var(--red-600);
  --fui-btn-700: var(--red-700);
}

.buttonColorYellow {
  --fui-btn-100: var(--yellow-100);
  --fui-btn-200: var(--yellow-200);
  --fui-btn-300: var(--yellow-300);
  --fui-btn-500: var(--yellow-500);
  --fui-btn-600: var(--yellow-600);
  --fui-btn-700: var(--yellow-700);
}

/* Reset */
.button input {
  border: 0;
  background-color: transparent;
  color: inherit;
  outline: none;

  cursor: inherit;
}

/* Sizes */
.buttonSizeNormal,
.buttonSizeNormal input {
  height: 40px;
  min-width: 40px;
}

.buttonSizeSmall,
.buttonSizeSmall input {
  height: 30px;
  min-width: 30px;
}

.buttonSizeTiny,
.buttonSizeTiny input {
  height: 24px;
  min-width: 24px;
}

/* Type: Primary */
.buttonPrimary {
  background: var(--fui-btn-500) linear-gradient(var(--fui-btn-500) -50%, var(--fui-btn-600) 250%);

  box-shadow: inset 0 0 0 1px var(--fui-btn-600);
  color: var(--fui-btn-bg);
}

.buttonPrimary:hover {
  background: var(--fui-btn-600) linear-gradient(var(--fui-btn-600) -50%, var(--fui-btn-700) 250%);
  box-shadow: inset 0 0 0 1px var(--fui-btn-700);
  color: var(--fui-btn-bg);
}

.buttonPrimary.buttonActive,
.buttonPrimary:active {
  background: var(--fui-btn-700) linear-gradient(var(--fui-btn-700) -50%, var(--fui-btn-700) 250%);
  box-shadow: inset 0 0 0 1px var(--fui-btn-700);
}

.buttonPrimary input {
  text-shadow: 0 1px 0 var(--fui-btn-600);
}
.buttonPrimary.buttonActive input,
.buttonPrimary:active input,
.buttonPrimary:hover input {
  text-shadow: 0 1px 0 var(--fui-btn-700);
}

.buttonPrimary input:focus-visible {
  outline: 3px solid var(--fui-btn-100);
}

/* Type: Secondary */
.buttonSecondary {
  background-color: var(--fui-btn-bg);
  box-shadow: inset 0 0 0 1px var(--fui-btn-100);
  color: var(--fui-btn-600);
}

.buttonSecondary:hover {
  box-shadow: inset 0 0 0 1px var(--fui-btn-200);
  /* inset 0 0 0 3px var(--fui-btn-100); */
}

.buttonSecondary.buttonActive,
.buttonSecondary:active {
  background-color: var(--fui-btn-100);
  box-shadow: inset 0 0 0 1px var(--fui-btn-300);
}

.buttonSecondary .button__loading {
  color: var(--fui-btn-300);
}

.buttonSecondary input:focus-visible {
  outline: 3px solid var(--fui-btn-100);
}

/* @media (prefers-color-scheme: dark) {
  .buttonSecondary {
    background-color: var(--hui-bg-0);
    box-shadow: inset 0 0 0 1px var(--hui-line-2);
    color: var(--hui-fg-0);
  }
} */

/* Type: Silent, incomplete */
.buttonSilent {
  background: var(--fui-btn-bg);
  color: var(--fui-btn-500);
}

.buttonSilent:hover {
  color: var(--fui-btn-700);
}

/* Type: Opaque */
.buttonOpaque {
  background-color: rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(3px);

  color: rgba(255, 255, 255, 0.88);
}

.buttonOpaque:hover {
  background-color: rgba(0, 0, 0, 0.66);
}

.buttonOpaque input {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* Disabled */
.buttonDisabled {
  pointer-events: none;

  background: var(--fui-btn-100);
  box-shadow: inset 0 0 0 1px var(--fui-btn-100);
  color: var(--fui-btn-300);
}

.buttonDisabled input {
  text-shadow: 0 0 0 transparent;
}

/* Loading */
.buttonLoading {
  pointer-events: none;
}

.buttonSizeNormal.buttonLoading input {
  padding-right: 40px;
}

.buttonSizeSmall.buttonLoading input {
  padding-right: 26px;
}

.buttonSizeTiny.buttonLoading input {
  padding-right: 24px;
}

.button__loading {
  position: absolute;
}

.buttonSizeNormal:not(.buttonIconOnlyLoading) .button__loading {
  right: 10px;
}

.buttonSizeSmall:not(.buttonIconOnlyLoading) .button__loading {
  right: 6px;
}

.buttonSizeTiny:not(.buttonIconOnlyLoading) .button__loading {
  right: 6px;
}

/* Flair */
.button__flair {
  position: absolute;
  top: -2px;
  right: -2px;
}

/* Icon */
.buttonSizeNormal:not(.buttonIconOnly) .button__icon {
  margin-right: -12px;
}

.buttonSizeNormal .button__icon {
  padding-left: 9px;
  padding-right: 9px;
}

.buttonSizeSmall:not(.buttonIconOnly) .button__icon {
  margin-right: -11px;
  margin-top: -1px;
}

.buttonSizeSmall .button__icon {
  padding-left: 6px;
  padding-right: 6px;
}

.buttonSizeTiny:not(.buttonIconOnly) .button__icon {
  margin-right: -6px;
}

.buttonSizeTiny .button__icon {
  padding-left: 5px;
  padding-right: 5px;
}

/* Icon:focus */
.buttonSizeNormal.buttonIconOnly input {
  margin-left: -42px;
  width: 42px;
}

.buttonSizeSmall.buttonIconOnly input {
  margin-left: -30px;
  width: 30px;
}

.buttonSizeTiny.buttonIconOnly input {
  margin-left: -24px;
  width: 24px;
}

.buttonSizeNormal.buttonWithIcon:not(.buttonIconOnly) input {
  margin-left: -30px;
  padding-left: 40px;
}

.buttonSizeSmall.buttonWithIcon:not(.buttonIconOnly) input {
  margin-left: -19px;
  padding-left: 28px;
}

.buttonSizeTiny.buttonWithIcon:not(.buttonIconOnly) input {
  margin-left: -18px;
  padding-left: 24px;
}