.text {
  transition: all 120ms ease-in-out;
}

.text a {
  color: inherit;
  cursor: pointer;

  text-decoration: underline;
}

.text a[rel=author] {
  text-decoration-style: dashed;
}

.text u {
  text-decoration: underline;
}

.text.textWithLinks a {
  font-weight: var(--font-weight-medium);
  text-decoration: underline;
}