.liveComponent {
	margin-top: -49px;

	background-color: var(--bg-ui);
	border-bottom: 1px solid var(--ui-border-light);
}

.liveComponentAlt {
	background-image: linear-gradient(90deg, var(--ui-border-light) 1px, transparent 1px),
		linear-gradient(180deg, var(--ui-border-light) 1px, transparent 1px);
	background-size: 16px 16px;
}

.liveEditor pre {
	position: relative;

	padding: 24px 24px 24px 0 !important;

	counter-reset: token-line;
}

.liveEditor pre:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

	height: 100%;
	padding-block: 16px;
	width: 40px;

	border-right: 1px solid var(--ui-border-light);
	content: " ";
}

.liveEditor pre > span::before {
	justify-content: flex-end;
	display: inline-flex;
	margin-right: 16px;
	min-width: 40px;
	padding: 0 8px;
	width: 40px;

	color: var(--ui-text-tertiary);

	counter-increment: token-line;
	content: counter(token-line);
}
