.resultList {
  position: absolute;
	z-index: 1;

	max-height: 360px;
	max-width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	opacity: 0;
	width: 360px;

	background-color: var(--gray-0);
	border-radius: 4px;
	transform: translateY(-8px);
	transition: all 120ms ease-in-out;

	animation: resultsFadeIn 120ms ease-in-out forwards;
}

.resultList li:not(.resultList__separator) {
  padding: 10px 12px;

  transition: all 60ms ease-in-out;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.resultList li.resultList__separator {
  position: relative;

  padding: 4px;
  background-color: var(--gray-25);

  pointer-events: none;
}

.itemActive {
  background: linear-gradient(var(--gray-50), var(--gray-25));
}

/*
.resultList li.__separator:after {
  position: absolute;
  top: 0;
  left: -4px;

  height: 8px;
  width: 8px;

  background-color: var(--gray-0);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  content: " ";
}

.resultList li.__separator:before {
  position: absolute;
  top: 0;
  right: -4px;

  height: 8px;
  width: 8px;

  background-color: var(--gray-0);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  content: " ";
} */

.resultList li:hover {
  background-color: var(--gray-25);
}

.resultList li:not(:first-child) {
  border-top: 1px solid var(--gray-50);
}

.resultList .resultList__icon {
  /* padding: 8px;
  margin-left: -10px;

  background-color: var(--gray-100);
  border-radius: 2px; */

  /* padding-right: 8px;
  margin-left: -2px;

  border-right: 1px solid var(--gray-50); */
}

@keyframes resultsFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}