.verticalSeparator {
  border: 0;
}

.verticalSeparatorLight {
  border: 0;
  border-left: 1px solid var(--hui-line-1);
}

.verticalSeparatorRegular {
  border: 0;
  border-left: 1px solid var(--hui-line-1);
}
