.select {
	position: relative;

	max-width: max-content;
	width: 100%;

	background-color: var(--ui-bg-action);
}

.select select {
	padding-right: 64px;
}

.selectDisabled select {
	background-color: var(--ui-bg-action);
	color: var(--ui-text-secondary);

	pointer-events: none;
}

.select select:active:not(:disabled),
.select select:focus-visible:not(:disabled) {
	border-color: var(--ui-border-active);
}

.select__select {
	height: 40px;
	margin: 0;
	padding: 0 10px;
	width: 100%;

	appearance: none;
	background-color: transparent;
	border: none;
	border: 1px solid var(--ui-border);
	border-radius: var(--radius-normal);
	transition: background-color 120ms ease-in-out;

	font-family: var(--font-family-mono);
	font-size: var(--font-size-small);
	cursor: inherit;
	line-height: 40px;
}

.select__icon {
	position: absolute;
	top: 1px;
	right: 0;

	padding-top: 2px;
	height: 38px;
	width: 40px;

	color: var(--ui-text-secondary);

	border-left: 1px solid var(--ui-border-light);
	pointer-events: none;
}
