.icon {
	transition: all 80ms ease-in-out;
}

.icon svg {
	height: 100%;
	width: 100%;

	fill: currentColor;
}

.iconPrimary svg {
	fill: var(--ui-text);
}

.iconSecondary svg {
	fill: var(--ui-text-action);
}

.iconTertiary svg {
	fill: var(--ui-text-disabled);
}
