.alert {
	display: flex;
	flex-direction: row;

  background-color: var(--alert-bg);
  color: var(--alert-text);
}

/* intent: advise */
.alertAdvise {
	--alert-bg: hsl(var(--color-intent-advise), 90%);
	--alert-text: hsl(var(--color-intent-advise), 40%);
}

/* intent: confirmation */
.alertConfirmation {
	--alert-bg: hsl(var(--color-intent-confirmation), 50%);
	--alert-text: hsl(var(--color-intent-confirmation), 97.5%);
}

/* intent: error */
.alertError {
	--alert-bg: hsl(var(--color-intent-error), 50%);
	--alert-text: hsl(var(--color-intent-error), 97.5%);
}

/* intent: highlight */
.alertHighlight {
	--alert-bg: hsl(var(--color-intent-highlight), 50%);
	--alert-text: hsl(var(--color-intent-highlight), 97.5%);
}

/* intent: question */
.alertQuestion {
	--alert-bg: hsl(var(--color-intent-question), 50%);
	--alert-text: hsl(var(--color-intent-question), 97.5%);
}

/* intent: success */
.alertSuccess {
	--alert-bg: hsl(var(--color-intent-success), 50%);
	--alert-text: hsl(var(--color-intent-success), 97.5%);
}

/* intent: warning */
.alertWarning {
	--alert-bg: hsl(var(--color-intent-warning), 50%);
	--alert-text: hsl(var(--color-intent-warning), 97.5%);
}

.alertSmall {
	border-radius: var(--radius-small);
}

.alertNormal {
	border-radius: var(--radius-normal);
}

.alertWithButton {
	padding-right: 48px;
}

.alertButtonGroup {
	position: absolute;
	right: 8px;
	top: 8px;
}

.alert a {
	font-weight: var(--font-weight-medium);
	text-decoration: underline;
}

@container (max-width: 640px) {
	.alert {
		flex-direction: column;
	}
}
