.alertBox {
	position: relative;

	background-color: var(--color-background);
	container-type: inline-size;

	/* user-select: none; */
}

.alert {
	display: flex;
	flex-direction: row;
}

/* intent: advise */
.alertAdvise {
	background-color: var(--hsl-intent-advise-alert-bg);
	color: var(--hsl-intent-advise-alert-text);
}

/* intent: confirmation */
.alertConfirmation {
	background-color: var(--hsl-intent-confirmation-alert-bg);
	color: var(--hsl-intent-confirmation-alert-text);
}

/* intent: error */
.alertError {
	background-color: var(--hsl-intent-error-alert-bg);
	color: var(--hsl-intent-error-alert-text);
}

/* intent: highlight */
.alertHighlight {
	background-color: var(--hsl-intent-highlight-alert-bg);
	color: var(--hsl-intent-highlight-alert-text);
}

/* intent: question */
.alertQuestion {
	background-color: var(--hsl-intent-question-alert-bg);
	color: var(--hsl-intent-question-alert-text);
}

/* intent: success */
.alertSuccess {
	background-color: var(--hsl-intent-success-alert-bg);
	color: var(--hsl-intent-success-alert-text);
}

/* intent: warning */
.alertWarning {
	background-color: var(--hsl-intent-warning-alert-bg);
	color: var(--hsl-intent-warning-alert-text);
}

.alertSmall {
	border-radius: var(--radius-small);
}

.alertNormal {
	border-radius: var(--radius-normal);
}

.alertWithButton {
	padding-right: 48px;
}

.alertButtonGroup {
	position: absolute;
	right: 8px;
	top: 8px;
}

.alert a {
	font-weight: var(--font-weight-medium);
	text-decoration: underline;
}

@container (max-width: 640px) {
	.alert {
		flex-direction: column;
	}
}
