.table {
	overflow: auto;
}

.tableElement {
	width: 100%;

	border: 0;
	border-collapse: collapse;
}

.tableElement td {
	padding: 8px;
}

.tableElement thead tr td {
	background-color: var(--ui-bg-action);
}

.tableElement tbody tr td {
	border-top: 1px solid var(--ui-border-light);
}

.tableElement td:not(:last-child) {
	border-right: 1px solid var(--ui-border-light);
}

.tableElementBorder {
	border: 1px solid var(--ui-border);
}

.tableElement:not(.tableElementBorder) tr td:first-child {
	padding-left: 24px;
}
