.layoutTop {
  position: fixed;
	top: 0;
	left: 0;
	z-index: 3;

  align-items: center;
  justify-content: space-between;
	height: 56px;
  display: flex;
	padding: 0 12px;
	width: 100%;

	background-color: var(--hui-bg-0);
	box-shadow: inset 0 -1px 0 0 var(--hui-line-1);
}

/* @media (max-width: 672px) {
  .layoutTop {
    padding-left: 64px;
  }
} */