/* Horizontal */
.buttonGroupHorizontal.buttonGroupLeft {
  justify-content: flex-start;
}

.buttonGroupHorizontal.buttonGroupCenter {
  justify-content: center;
}

.buttonGroupHorizontal.buttonGroupRight {
  justify-content: flex-end;
}

.buttonGroupHorizontal.buttonGroupJoin {
  flex-wrap: nowrap;
  gap: 0;
}

/* left */
.buttonGroupHorizontal.buttonGroupJoin > a:first-child > div,
.buttonGroupHorizontal.buttonGroupJoin > div:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* middle */
.buttonGroupHorizontal.buttonGroupJoin > a:not(:first-child):not(:last-child) > div,
.buttonGroupHorizontal.buttonGroupJoin > div:not(:first-child):not(:last-child) {
  margin-left: -1px;

  border-radius: 0;
}

/* right */
.buttonGroupHorizontal.buttonGroupJoin > a:last-child > div,
.buttonGroupHorizontal.buttonGroupJoin > div:last-child {
  margin-left: -1px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Vertical */
.buttonGroupVertical.buttonGroupJoin {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}

/* left */
.buttonGroupVertical.buttonGroupJoin > a:first-child > div,
.buttonGroupVertical.buttonGroupJoin > div:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* middle */
.buttonGroupVertical.buttonGroupJoin > a:not(:first-child):not(:last-child) > div,
.buttonGroupVertical.buttonGroupJoin > div:not(:first-child):not(:last-child) {
  margin-top: -1px;

  border-radius: 0;
}

/* right */
.buttonGroupVertical.buttonGroupJoin > a:last-child > div,
.buttonGroupVertical.buttonGroupJoin > div:last-child {
  margin-top: -1px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}