.cover {
	position: sticky;
	top: 0;

	display: flex;
	flex-wrap: wrap;
	height: 144px;
	margin-bottom: -1px;
	overflow: hidden;
	width: 100%;
}

.coverAlt {
	height: 48px;
}

.coverTile {
	height: 48px;
	min-width: 48px;
	width: 48px;

	background-color: var(--ui-bg-action);
	border-bottom: 1px dashed hsla(var(--gray-hue), var(--gray-saturation), 30%, 0.1);
	border-right: 1px dashed hsla(var(--gray-hue), var(--gray-saturation), 30%, 0.1);
}
