.cover {
	position: sticky;
	top: 0;

	display: flex;
	flex-wrap: wrap;
	height: 143px;
	overflow: hidden;
	width: 100%;

	background-color: var(--ui-bg-action-hover);
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACSSURBVHgB7dohEsJAEAXRhTOs4v5nQ+0hKASSiko6lbxnxo1p+8cAAAAAAAAAALiixyAx53x973OQEiAmQEyAmAAxAWICAAAAAABwAKuIiFXESQgQEyAmQEyAmAAxAQAAAAAAOIBVRMQq4iQEiAkQEyAmQEyAmAAAAAAAAAAAsJPdtqG/7eM/a633uMHfLVYRsQ8M0w0zUqVZmQAAAABJRU5ErkJggg==");
	background-size: 48px 48px;
	background-position: 1px 0;
}

.coverHome {
	height: 240px;

	background-image: url("/cover.png");
	background-size: cover;
	background-position: center;
}

.coverAlt {
	height: 47px;
}

:root[data-theme="dark"] .cover:not(.coverHome) {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACSSURBVHgB7dqxDcJAEAXRgwaQrv8aT6IDRECIHNlj2e8lm20y6R8DAAAAAAAAAOCKHoPEWuv1vc9BSoCYADEBYgLEBIgJAAAAAADAAawiIlYRJyFATICYADEBYgLEBAAAAAAA4ABWERGriJMQICZATICYADEBYgIAAAAAAAAAwE5224b+to//zDnf4wZ/t1hFxD5FrBS8pG5yrwAAAABJRU5ErkJggg==");
}
