.menuItem {
	margin: 0 8px;
	padding: 8px 16px;

	border-radius: var(--radius-small);
	background-color: var(--ui-bg);

	transition: all 60ms ease-in-out;
}

.menuItem:hover {
	background-color: var(--ui-bg-action-hover);
}

.menuItemActive {
	background-color: var(--ui-bg-action-active);
}

.menuItemActive:hover {
	background-color: var(--ui-bg-action-hover);
}
